*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  width: 100%;
}
@font-face {
  font-family: "nymphatrial";
  src: url("/fonts/Nympha_Trial/WOFF2/NymphaTrial-Regular.woff2")
      format("woff2"),
    url("/fonts/Nympha_Trial/WOFF/NymphaTrial-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "sfprodisplay";
  src: url("/fonts/SFProDisplay/WOFF/SFProDisplay-Medium.woff2") format("woff2"),
    url("/fonts/SFProDisplay/WOFF/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.site {
  background-image: url("/images/background-cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
img {
  max-width: 100%;
  height: auto;
}
.header{
  position: absolute;
  width: 100%;
  top: 56px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1280px;
  width: 100%;
  font-family: "sfprodisplay";
  font-weight: 400;
}
.header__info {
  width: 102px;
  height: 18px;
  color: rgba(242, 242, 242, 1);
  font-size: 18px;
  text-decoration: none;
}
.header__connection {
  color: rgba(242, 242, 242, 1);
  width: 102px;
  height: 18px;
  font-size: 18px;
  text-decoration: none;
}
.logo__img {
  width: 170px;
  height: 24px;
  transform: translateX(12px);
}
.photographers {
  position: absolute;
  top: 60%;
  overflow: hidden;
  height: 750px;
  width: 100%;
  transform: translateY(-50%);
  left: 0;
}
.photographers__wrap {
  display: flex;
  justify-content: space-between;
}
.photographer__name {
  position: absolute;
  font-size: 120px;
  color: rgba(255, 255, 255, 1);
  font-family: "nymphatrial";
  font-weight: 400;
  height: 133px;
  transform: translate(-50%, -80px);
  left: 50%;
}
.photographer__name--large {
  font-size: 154px;
}
.photographer__img {
  height: 518px;
}
.photographer--1 {
  position: relative;
  right: 300px;
}
.photographer--2{
  transform: translate(-4px, -1px);
}
.photographer--3 {
  position: relative;
  transform: translateX(200px);
}
.photograhper-info {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  bottom: 25px;
  font-family: "sfprodisplay";
  font-weight: 400;
  font-size: 18px;
}
.photographer-info__wrap {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}
.photographer-info__label {
  display: flex;
  width: 142px;
  height: 18px;
  color: rgba(242, 242, 242, 1);
  font-weight: 400;
  font-size: 18px;
}
.photographer-info__number {
  display: flex;
  height: 18px;
  width: 102px;
  color: rgba(242, 242, 242, 1);
  justify-content: flex-end;
}
.visually-hidden{
  color: #ffffff;
}
.contact {
  background-image: url("/images/contact-page-cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact__info {
  position: relative;
  margin: 0 auto;
  width: 576px;
  height: 454px;
  transform: translateY(35%);
}
.contact__wrap {
  max-width: 576px;
  height: 454px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.contact__contact {
  display: flex;
  font-family: "nymphatrial";
  font-weight: 400;
  font-size: 154px;
  color: #ffffff;
  position: relative;
  justify-content: center;
}
.contact__mail {
  font-family: "sfprodisplay";
  font-weight: 100;
  font-size: 50px;
  text-decoration: none;
  color: rgba(242, 242, 242, 0.7);
  display: flex;
  justify-content: center;
  position: relative;
  transform: translateY(-23px);
}
.underlined{
  text-decoration: underline;
}
.contact__text {
  font-family: "sfprodisplay";
  font-weight: 100;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact__line {
  transform: translateY(-10px);
  width: 330px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.41);
}
/* код для About */
.site-wrap {
  overflow: hidden;
}
.about {
  background-image: url("/images/about-cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.images__main-img {
  width: 1268px;
  height: 844px;
  position: relative;
  margin: 0 auto;
  z-index: 0;
}
.images__same--1 {
  width: 1029px;
  height: 707px;
  margin-left: 88px;
}
.images__same--2 {
  width: 575px;
  height: 886px;
}
.images__main-title {
  font-family: "nymphatrial";
  color: rgba(255, 255, 255, 1);
  font-size: 220px;
  font-weight: 400;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  top: 122px;
}
.background {
  color: rgba(141, 141, 141, 1);
  top: 92px;
}
.job-name {
  font-family: "sfprodisplay";
  color: #d6d0ce;
  font-weight: 100;
  font-size: 16px;
}
.performer-name {
  font-family: "nymphatrial";
  color: #d6d0ce;
  font-weight: 100;
  font-size: 24px;
}
.images__hero-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 93px;
  transform: translateY(15%);
}
.info {
  width: 584px;
  height: 56px;
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 274px;
  top: 168px;
}

.info__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.images__wrap {
  position: relative;
  transform: translateY(169px);
}
.background-wrap {
  display: flex;
}
.photo--2 {
  margin-bottom: 92px;
}
.photo--3 {
  position: relative;
  left: 235px;
  top: -60px;
}
.photo--4 {
  margin-top: 200px;
  position: relative;
  bottom: 60px;
}
.photo--5 {
  position: relative;
  width: 575px;
  height: 886px;
  left: 777px;
  top: 417px;
}
.photo--6 {
  position: relative;
  left: 88px;
  top: 85px;
}
.photo--7 {
  position: relative;
  left: 707px;
  bottom: 160px;
}
.background-texts {
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 0;
  position: relative;
  top: 292px;
}
.text--1 {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #8d8d8d;
  font-size: 260px;
  font-weight: 200;
}
.text--2 {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #8d8d8d;
  font-size: 260px;
  font-weight: 200;
}
.text--3 {
  font-size: 260px;
  font-weight: 200;
}
.img--1 {
  width: 540.9px;
  height: 833.11px;
  rotate: 6.85deg;
  z-index: 1;
  position: relative;
  left: 450px;
  bottom: 515px;
}
.img--2 {
  width: 540.9px;
  height: 833.11px;
  rotate: -3deg;
  z-index: 1;
  position: relative;
  left: 746px;
  bottom: 488px;
}
