.about {
  background-image: url("/images/about-cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.about__title-wrap {
  position: absolute;
  top: rem(312);
  width: 100%;
  text-align: center;
  z-index: 1;
  @include mobile{
    top: rem(150);
  }
}
.about__main-img-wrap {
  width: rem(1268);
  height: rem(844);
  margin: 0 auto;
  z-index: 0;
  display: flex;
  
  @include mobile{
    height: rem(300);
    width: rem(400);
  }
}

