.contact {
    background-image: url("/images/contact-page-cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include mobile{
      background-repeat: repeat;
    }
  }
  .contact__content {
    position: relative;
    margin: 0 auto;
    width: rem(576);
    height: rem(454);
    top:rem(160);
    @include mobile{
      top: rem(80);
    }
  }
  .contact__content-wrap{
    margin-bottom: rem(35);
  }
  .contact__contact-text {
    font-family: "nymphatrial";
    font-weight: 400;
    font-size: rem(154);
    color: #ffffff;
    text-align: center;
    @include mobile{
      font-size: rem(77);
    }
  }

  .contact__mail-wrap{
    display: flex;
    margin-bottom: rem(129);
    @include mobile{
      margin-bottom: rem(45);
    }
  }
  .contact__mail {
    font-family: "sfprodisplay";
    font-weight: 100;
    font-size: rem(50);
    text-decoration: none;
    color: rgba(242, 242, 242, 0.7);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    @include mobile{
      font-size: rem(25);
    }
  }

  .contact__text {
    font-family: "sfprodisplay";
    font-weight: 100;
    font-size: rem(24);
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    @include mobile{
      font-size: rem(12);
    }
  }
  .contact__line {
    transform: translateY(rem(-10));
    width: rem(330);
    height: rem(1);
    background-color: rgba(255, 255, 255, 0.41);
  }