.photographers {
  position: absolute;
  top: rem(239);
  overflow: hidden;
  height: rem(750);
  width: 100%;
  left: 0;
  @include scalable-height{
    top: vh(239);
    height: vh(750);
  }

  @include limit-height{
    top: px(239, $diff-height);
    height: px(750, $diff-height);
  }

  @include mobile{
    top: 0;
    height: 100%;
    overflow: visible;
  }
}
.photographers__wrap {
  @include mobile{
    min-height: rem(330);
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
