.photographer__name-wrap {
  position: absolute;
  height: rem(133);
  top: rem(460);
  @include scalable-height {
    height: vh(133);
    top: vh(460);
    font-size: vh(120);
  }

  @include limit-height{
    top: px(460, $diff-height);
    height: px(133, $diff-height);
    font-size: px(120, $diff-height);
  }

  @include mobile {
    top: rem(270);
    font-size: rem(70);
  }
}
.photographer__name {
  font-size: rem(120);
  color: rgba(255, 255, 255, 1);
  font-family: "nymphatrial";
  font-weight: 400;
  @include scalable-height{
    font-size: vh(120);
  }
  @include limit-height{
    font-size: px(120,$diff-height);
  }
  @include mobile{
    font-size: rem(70);
  }
}
.photographer__name-wrap--large {
  top: rem(440);
  left: rem(-45);

  @include scalable-height {
    top: vh(440);
    left: vh(-45);
  }
  @include limit-height{
    top: px(440,$diff-height);
    left: px(-45,$diff-height);
  }
  @include mobile{
    top: rem(250);
    left: rem(-10);
    font-size: rem(80);
  }
}
.photographer__name--large {
  font-size: rem(154);

  @include scalable-height {
    font-size: vh(154);
  }
  @include limit-height{
    font-size: px(154,$diff-height);
  }
  @include mobile{
    font-size: rem(80);
  }
}
.photographer__img {
  height: rem(518);
  display: flex;
  @include scalable-height {
    height: vh(518);
  }
  @include limit-height{
    height: px(518,$diff-height);
  }
  @include mobile{
    height: rem(300);
    width: rem(250);
  }
}
.photographer{
  flex-shrink: 0;
}

.photographer--1 {
  position: relative;
  right: rem(300);
  @include scalable-height {
    right: vh(300);
  }
  @include limit-height{
    right: px(300,$diff-height);
  }
  @include mobile {
    right: 0;
  }
}
.photographer--2 {
  position: relative;
  @include mobile{
    margin: 0 rem(80);
  }
}

.photographer--3 {
  position: relative;
  left: rem(200);
  @include scalable-height {
    left: vh(200);
  }
  @include limit-height{
    left: px(200,$diff-height);
  }
  @include mobile{
    left: 0;
  }
}
.photographer-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 rem(20);
  position: absolute;
  bottom: rem(25);
  font-family: "sfprodisplay";
  font-weight: 400;
  font-size: rem(18);

  @include mobile{
    padding: 0 rem(10);
    font-size: rem(10);
  }
}
.photographer-info__wrap {
  max-width: rem(1280);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 rem(20);


  @include mobile{
    padding: 0 rem(10);
  }
}
.photographer-info__label {
  display: flex;
  width: rem(142);
  height: rem(18);
  color: rgba(242, 242, 242, 1);
  font-weight: 400;
  font-size: rem(18);
  @include mobile{
    font-size: rem(10);
  }
}
.photographer-info__number {
  display: flex;
  height: rem(18);
  width: rem(102);
  color: rgba(242, 242, 242, 1);
  justify-content: flex-end;
}
