.photographer__name-wrap {
  position: absolute;
  height: rem(133);
  top: rem(460);
  left: 0;
  width: rem(550);
  text-align: center;
  @media (max-width:768px) {
    width: 300px;
  }
  @include scalable-height {
    height: vh(133);
    top: vh(460);
    font-size: vh(120);
  }

  @include limit-height {
    top: px(460, $diff-height);
    height: px(133, $diff-height);
    font-size: px(120, $diff-height);
  }

  @include mobile {
    top: rem(270);
    font-size: rem(70);
    width: rem(245);
  }
}
.photographer__name {
  font-size: rem(120);
  color: rgba(255, 255, 255, 1);
  font-family: "nymphatrial";
  font-weight: 400;
  @include scalable-height {
    font-size: vh(120);
  }
  @include limit-height {
    font-size: px(120, $diff-height);
  }
  @include mobile {
    font-size: rem(70);
  }
}
.photographer{
  width: rem(550);
  position: relative;
  @include mobile{
    width: rem(245);
  }
  @media (max-width:768px) {
    width: 300px;
  }
}
.photographer__img {
  height: rem(518);
  width: rem(411);
  margin: 0 auto;
  display: flex;
  @include scalable-height {
    height: vh(518);
    width: vh(411);
  }
  @include limit-height {
    height: px(518, $diff-height);
    width: px(411, $diff-height);
  }
  @include mobile {
    height: rem(310);
    width: rem(246);
  }
}
.photographer {
  flex-shrink: 0;
  margin: 0 auto;
}

.photographer-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 rem(20);
  position: absolute;
  bottom: rem(25);
  font-family: "sfprodisplay";
  font-weight: 400;
  font-size: rem(18);

  @include mobile {
    padding: 0 rem(10);
    font-size: rem(10);
  }
}
.photographer-info__wrap {
  max-width: rem(1280);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 rem(20);

  @include mobile {
    padding: 0 rem(10);
  }
}
.photographer-info__label {
  display: flex;
  width: rem(142);
  height: rem(18);
  color: rgba(242, 242, 242, 1);
  font-weight: 400;
  font-size: rem(18);
  @include mobile {
    font-size: rem(10);
  }
}
.photographer-info__number {
  display: flex;
  height: rem(18);
  width: rem(102);
  color: rgba(242, 242, 242, 1);
  justify-content: flex-end;
}
