  .preview{
    margin-bottom: rem(480);
    @include mobile{
      margin-bottom: rem(100);
    }
  }
  
  .preview__photo{
    position: relative;
    display: flex;
  }
  .preview__photo--2 {
    margin-bottom: rem(200);
    width: rem(1029);
    height: rem(707);
    margin-left: rem(86);
    @include mobile{
      margin-bottom: rem(80);
      width: rem(300);
      height: rem(207);
      margin-left: rem(36);
    }
  }
  .preview__photo--3 {
    width: rem(1029);
    height: rem(707);
    margin-left: rem(326);
    @include mobile{
      width: rem(300);
      height: rem(207);
      margin-left: rem(36);
    }
  }
  .preview__photo--4 {
    margin-top: rem(200);
    width: rem(1029);
    height: rem(707);
    margin-left: rem(86);
    margin-bottom: rem(279);
    @include mobile{
      margin-top: rem(80);
      width: rem(300);
      height: rem(207);
      margin-left: rem(36);
      margin-bottom: rem(80);
    }
  }
  .preview__photo--5 {
    width: rem(575);
    height: rem(886);
    margin-left: rem(777);
    margin-bottom: rem(-337);
    @include mobile{
      width: rem(175);
      height: rem(300);
      margin-left: rem(175);
      margin-bottom: rem(20);
    }
  }
  .preview__photo--6 {
    margin-left: rem(87);
    width: rem(575);
    height: rem(886);
    margin-bottom: rem(-243);
    @include mobile{
      width: rem(175);
      height: rem(300);
      margin-left: rem(36);
      margin-bottom: rem(20);
    }
  }
  .preview__photo--7 {
    margin-left: rem(707);
    width: rem(575);
    height: rem(886);
    @include mobile{
      width: rem(175);
      height: rem(300);
      margin-left: rem(175);
    }
  }
  .preview-slider{
    position: relative;
    margin-bottom: rem(440);
    min-height: px(1000);
    overflow: hidden;
    @include mobile{
      margin-bottom: rem(100);
    }
  }
  .preview-slider__titles {
    position: absolute;
    width: 100%;
    text-align: center;
    top: px(111);
    left: px(10);
    @include mobile{
      left: 0;
    }
  }

  .preview-slider__img--1 {
    width: rem(541);
    transform: rotate(6.85deg);
    z-index: 1;
    left: rem(450);
    position: absolute;
    top: rem(85);
  }
  .preview-slider__img--2 {
    width: rem(561);
    transform: rotate(-3deg);
    z-index: 1;
    left: rem(1335);
    position: absolute;
    top: rem(95);
  }

  .preview__photo {
    position: relative;
  }
  .preview__title-wrap {
    position: absolute;
    top: rem(2510);
    width:100%;
    text-align:center;
    @include mobile{
      top: rem(1000);
    }
  }