<header class="header" data-aos="fade-down">
    <nav class="header__nav">
      <div class="header__info-wrap">
        <a href="../about.html" class="header__info">about</a>
      </div>
      <div class="logo">
        <a href="../index.html">
        <img
          src="/images/melanish-logo.svg"
          alt="site-logo"
          class="logo__img"
        />
      </a>
      </div>
      <div class="header__contact-wrap">
        <a href="../contact.html" class="header__connection">contact</a>
      </div>
    </nav>
  </header>