<section class="photographers">
  <div class="photographers__wrap" data-aos="zoom-out">
    <div class="swiper-container photographers__slider">
      <div class="swiper-wrapper">
        
          <div class="photographer photographer--1">
            <div class="photographer__img">
              <img
                class="photographer__photo"
                src="/images/bruxells-2xjpg.jpg"
                alt="Bruxells"
              />
            </div>
            <div class="photographer__name-wrap">
              <h2 class="photographer__name">Bruxells</h2>
            </div>
          </div>
        
          <div class="photographer photographer--2">
            <div class="photographer__img">
              <img
                class="photographer__photo"
                src="/images/melanie-2x.jpg"
                alt="Melanie"
              />
            </div>
            <div class="photographer__name-wrap photographer__name-wrap--large">
              <h2 class="photographer__name photographer__name--large">
                Melanie
              </h2>
            </div>
          </div>
        
          <div class="photographer photographer--3">
            <div class="photographer__img">
              <img
                class="photographer__photo"
                src="/images/problem-2x.jpg"
                alt="Problem"
              />
            </div>
            <div class="photographer__name-wrap">
              <h2 class="photographer__name">Problem</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div
    class="photographer-info"
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
  >
    <div class="photographer-info__wrap">
      <h2 class="photographer-info__label">PHOTOGRAPHER</h2>
      <div class="photographer-info__number">
        <span class="photographer-info__number-current">2</span>
        <span class="photographer-info__number-amount">/</span>
        <span class="photographer-info__number-total">3</span>
      </div>
    </div>
  </div>
</section>
